[Unit]
Description=macfanctld deamon
After=syslog.target
After=sysinit.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/macfanctld -f
Restart=on-failure

[Install]
WantedBy=sysinit.target

# for Arch
# /etc/systemd/system/macfanctld.service
# systemctl enable macfanctld 
# systemctl status macfanctld
