'body':
  'ctrl-1': 'pane:show-item-1'
  'ctrl-2': 'pane:show-item-2'
  'ctrl-3': 'pane:show-item-3'
  'ctrl-4': 'pane:show-item-4'
  'ctrl-5': 'pane:show-item-5'
  'ctrl-6': 'pane:show-item-6'
  'ctrl-7': 'pane:show-item-7'
  'ctrl-8': 'pane:show-item-8'
  'ctrl-9': 'pane:show-item-9'

'atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-q': 'custom:insert-foo'

'atom-workspace atom-text-editor':
  'ctrl-shift-a': 'core:select-all'
