@define-color gradient1  #101010;
@define-color gradient2  #383838;
@define-color background #282828;
@define-color foreground #ffffff;
@define-color altground  #888888;
@define-color urgent     red;

* {
    margin: 0;
    padding: 0;
}

/* Left and right padding */
window#waybar>box {
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 1px solid #323232;
}

/* Fonts and colors */
#waybar {
    background: linear-gradient(@gradient1, @gradient2);
    color: @foreground;
    font-family: JetBrains Mono;
    font-size: 13px;
}

/* Module padding */
#cpu,
#custom-fan,
#custom-notification,
#temperature,
#date,
#memory,
#mode,
#tray,
#window,
#layout,
#workspaces
{
    padding-left: 10px;
    padding-right: 10px;
}

/* Group padding */
#backlight,
#media,
#vpn,
#bat
{
    padding-left: 5px;
    padding-right: 5px;
}

/* Text module color */
#temperature,
#custom-fan,
#layout,
#cpu,
#memory
{
    color: @altground;
}

/* Text icon size */
*.icon {
    padding-left: 10px;
    padding-right: 10px;
}

/*
 * Colors
 */

#taskbar button {
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#mode {
    color: red;
    font-weight: bold;
}

#workspaces button {
    border: 0;
    border-radius: 0;
    min-height: 0;
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @foreground;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

#workspaces button.visible {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.2);
    border-color: @foreground;
    font-weight: bold;
}

#workspaces button.urgent {
    background: rgba(255, 0, 0, 0.2);
    color: @foreground;
    border-color: red;
    font-weight: bold;
}
