* {
    margin: 0;
    padding: 0;
}

#waybar {
    background: #282828;
    color: white;
    font-family: JetBrains Mono;
    font-size: 13px;
}

#battery,
#custom-brightness,
#custom-fan,
#custom-notification,
#custom-temperature,
#date,
#memory,
#mode,
#network,
#pulseaudio,
#tray,
#window,
#workspaces
{
    padding-left: 10px;
    padding-right: 10px;
}

#custom-temperature,
#custom-fan,
#memory
{
    color: #888888;
}

#custom-monitor,
#custom-monitor_blue,
#custom-previous,
#custom-pause,
#custom-next
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Left and right paddings */
#workspaces { padding-left:  20px; }
#battery    { padding-right: 30px; }

#window {
    font-weight: bold;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#mode {
    color: red;
    font-weight: bold;
}

#workspaces button {
    border: 0;
    border-radius: 0;
    min-height: 0;
    border-bottom: 2px solid transparent;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

#workspaces button.visible {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.2);
    border-color: white;
    font-weight: bold;
}

#workspaces button.urgent {
    color: red;
    font-weight: bold;
}
