/*
 * Custom firefox css that maximizes the space, and removes unnecessary
 * distraction.
 */

/* hide tab scroll button */

toolbarbutton[id^="scrollbutton"] {
	display: none !important;
}

/* invisible buttons */

#PanelUI-menu-button, #nav-bar-overflow-button, #unified-extensions-button {
	list-style-image: url() !important;
}

/* Do not display close button */

#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
	display:none !important;
}

/* Do not display back button */

#back-button, #forward-button {
	display:none!important;
}

/* Change font */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

* {
	font-family: "JetBrains Mono";
	font-size: 12px;
}
